<h1>{{title}}</h1>


  <div class="row">
    <div class="col">
        <br>
      <p>It started out as an idea where anyone could take notes of their daily mood and track them. Giving them a better understanding of their feelings, why they feel a certain way, and what can they do to increase and decrease the things that give them stress, sadness, happiness, love, and more.</p>
      <br>
      <p>This web application makes it possible for this idea to become possible. I hope that it can help you create a better mental on your journey.</p>
      <br>
      <p>- Jake White</p>
    </div>
    <div class="col">
      <img src="/images/jap.jpg">
    </div>
