{{!-- this video is copyright free from the website pexels. https://www.pexels.com/video/clouds-over-mount-fuji-in-time-lapse-5510394/ --}}
<video autoplay muted loop id="myVideo">
  <source src="/images/fuji.mp4" type="video/mp4">
</video>
<div class="content">
  <div class="vh-100 d-flex justify-content-center align-items-center">
    <h2><span style="color:#ff9b00">Mood</span><span style="color:#50aa32">it</span></h2>
    <h3>Track your mood.</h3>
    <h4>Become a better you.</h4>
  </div>
</div>