

body {
  font-family: sans-serif;
  font: 14px;
}

a {
  color: #00B7FF;
}


.navbar-brand {
  background-image: url("/images/peng.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}
