/* body */
body {
  font-family: 'Kanit', sans-serif;
  font: 14px;
  background-color: rgba(235, 235, 235, 0.575) !important;
  background-image: url(../images/wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
/* text */
a {
  color: #000000;
}

/* padding for main container */
.container {
  padding-top: 150px;
}




/* navbar */
.navbar {
  padding-left: 80px;
  padding-right: 80px;
  background: rgba(0,0,0,0);
}

.moodit {
  font-weight: bold;
  color: #ff9b00 !important;
  font-size: 30px !important;
}

.nav-link {
  font-size: 22px;
  color: white !important;
}
/* navbar end */



/* footer */
footer p{
  background: rgba(0,0,0,0);
 
  padding-bottom: 100px !important;
}


/* h1 header for pages */
h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 90px !important;
  color: #4dba27;
}


fieldset {
  margin: 10px;
}

.btn-secondary {
  display: block;
  margin: 0 auto;
  background-color: #fe226f !important;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
	font-size: 20px;
  width: 200px;
  
}

.btn-secondary:hover {
  background-color: #fe226f !important;
  color: white !important;
}


form {
	display: block;
	width: 100%;
  margin-left: auto;
  margin-right: auto;
	max-width: 500px;
	padding: 80px 30px;
	background-image: linear-gradient(to bottom,#418529, #57a83a);
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
}

form label {
	display: block;
	color:#eee;
	font-size: 24px;
	margin-bottom: 5px;
}

form input {
	display: block;
	width: 100%;
	padding: 15px;
	background-color: #dadada;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
	color: #FFF;
	font-size: 18px;
}

form textarea {
	display: block;
	width: 100%;
	padding: 15px;
	background-color: #dadada;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
	color: #FFF;
	font-size: 18px;
}

form img {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
}

/* h1 for login and register */
.logh1 {
  text-align: center;
}

/* cards for mood board */
.card {
	display: block;
	width: 100%;
	max-width: 400px;
	padding: 30px 30px;
  margin: 10px 10px 10px 10px;
	background-image: linear-gradient(to bottom,#ffffff, #f0efef);
  color: #50aa32;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
}

.card:hover {
  background-image: linear-gradient(to bottom,#418529, #57a83a);
  color: white !important;
}



.card-body h3{
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-text {
  font-size: 20px;
}



.btn-primary{
  background-color: #297a0e !important;
  color: white !important;
  border: none;
}

.btn-primary:hover {
  background-color: #fe226f !important;
  color: white !important;
}

.btn-warning{
  background-color: white !important;
  color: #fe226f !important;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 15px 15px 15px;
  border-radius: 12px;
}

.btn-warning:hover {
  background-color: #fe226f !important;
  color: white !important;
  border: none;
}

.card-title a {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #56d429;
}

.card-title a:hover {
  color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 0, 0);
} 

.custom-toggler.icon-bar {
  border-color: rgb(0, 0, 0);
  background-color: black;
} 

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 7;

}



.content h2{
  position:relative;
  color: #4dba27;
  text-align: center;
  z-index: 99;
  margin-bottom: 50px;
  font-size: 180px;
  font-weight: 700px;
  font-family: 'Kanit', sans-serif;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}

.content h3 {
  position:relative;
  color: #ffffff;
  text-align: center;
  z-index: 20;
  font-size: 30px;
  font-family: sans-serif;
  text-shadow: 2px 2px 14px #000000;
}

.content h4 {
  position:relative;
  color: #ffffff;
  text-align: center;
  z-index: 99;
  font-size: 30px;
  font-family:  sans-serif;
  text-shadow: 2px 2px 14px #000000;
}

.edith1 h1{
  margin-left: 200px !important;
}

.col img{
  width: 500px;
  height: 600px;
 box-shadow: 0px 6px 12px rgb(0, 0, 0);
}

.col p {
  color: #000000;
  font-size: 27px;
  font-family:  sans-serif;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px
@media screen and (min-width: 601px) {
  div.content {
    
  }
} */

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.content h2{
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  .nav-link {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
